/* Styling for the chat bot */

body {
    font-size: 13px;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

a,
a:visited,
a:hover,
a:focus {
  color: rgba(86,167,161,1.0);
  text-decoration: none;
}

.container {
    display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;

  	-ms-flex-align: center;
  	-webkit-align-items: center;
  	-webkit-box-align: center;

  	align-items: center;
    justify-content: center;
}

.dialogContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 14px;
    width: 300px;
    min-height: 270px;
    margin: 0;
    border-radius: 4px;
    padding: 10px;
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/img/watson.png");
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/img/watson.png");
    background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/img/watson.png");
    background-image: linear-gradient(bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/img/watson.png");
    background-attachment: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid rgba(86,167,161,1.0);
}

.chatbot {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1em 0;
}

.chatbot textarea {
    width: 300px;
    margin: 15px 0;
    border: 1px solid rgba(86,167,161,1.0);
    min-height: 60px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px;
    color: #225282;
    resize: none;
}

.message {
    margin-top: 0.5em;
    font-weight: bold;
    color: #fff;
}

.watson,
.manager,
.designer,
.developer {
    padding: 0.5em;
    margin-left: 0.5em;
    margin-right: 30%;
    -webkit-align-self: flex-start;
    align-self: flex-start;
}

.dialogContainer .watson,
.dialogContainer .manager,
.dialogContainer .designer,
.dialogContainer .developer {
    background-color: rgba(199,231,242,0.6);
    border-radius: 10px 10px 10px 0;
    color: #000;
	  -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
}

.user {
    text-indent: 2em;
    padding: 1.5em 0.5em 0.5em 0.5em;
    border-radius: 10px 10px 0 10px;
    background-color: rgba(29,142,186,0.9);
    margin-right: 0.5em;
    margin-left: 30%;
    -webkit-align-self: flex-end;
    align-self: flex-end;
	  -webkit-animation: fadein 1s;
       -moz-animation: fadein 1s;
        -ms-animation: fadein 1s;
         -o-animation: fadein 1s;
            animation: fadein 1s;
}

.watson:before,
.manager:before,
.designer:before,
.developer:before {
    background-size: 3em 3em;
    display: inline-block;
    width: 3em;
    height: 3em;
    content: '';
}

.watson:before {
    background-image: url('/img/watson.png');
}

.manager:before {
    background-image: url('/img/manager-av.png');
}

.designer:before {
    background-image: url('/img/designer-av.png');
}

.developer:before {
    background-image: url('/img/developer-av.png');
}

.name {
    color: #7bae38;
}

#progress-link {
  text-align: right;
}

#progress-link a {
    border: 1px solid rgba(86,167,161,1.0);
    border-radius: 4px;
    padding: .25em .25em;
}

#progress-link:not(.active) a:hover,
#progress-link:not(.active) a:hover {
    background-color: rgba(86,167,161,1.0);
    color: white;
}

#progress-link.active a {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.progress {
  border: 1px solid rgba(86,167,161,1.0);
  border-radius: 4px 4px 0 4px;
  margin-bottom: .25em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table .manager::before,
table .designer::before,
table .developer::before {
    width: 30px;
    height: 30px;
    background-size: 30px;
}

table td,
table th {
    font-weight: normal;
}

table th {
  padding: .5em;
}

table tbody tr {
    border-top: 1px solid rgba(86,167,161,1.0);
}

table td:not(:last-child),
table th:not(:last-child) {
    border-right: 1px solid rgba(86,167,161,1.0);
}

table td.checked {
    text-align: center;
    font-size: 24px;
    color: green;
}

table td.checked::before {
    content: '\2713';
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
