/* Styling for the chat bot */

body {
    font-size: 13px;
    margin: 0;
    font-family: Futura, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

a,
a:visited,
a:hover,
a:focus {
  color: rgba(86,167,161,1.0);
  text-decoration: none;
}

.container {
  	display: flex;
  	align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.dialogContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 14px;
    width: 500px;
    min-height: 270px;
    margin: 0;
    border-radius: 4px;
    padding: 10px;
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/img/watson.png");
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/img/watson.png");
    background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/img/watson.png");
    background-image: linear-gradient(bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/img/watson.png");
    background-attachment: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid rgba(86,167,161,1.0);
}

@media screen and (max-width: 500px) {
    .dialogContainer {
        width: 90%;
        align-self: center;
    }
}

.chatbot {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1em 0;
}

.chatbot textarea {
    width: 500px;
    margin: 15px 0;
    border: 1px solid rgba(86,167,161,1.0);
    min-height: 60px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px;
    color: #225282;
    resize: none;
}

@media screen and (max-width: 500px) {
    .chatbot {
        width: 100%
    }

    .chatbot textarea {
        width: 90%;
        align-self: center;
    }
}

.message {
    margin-top: 0.5em;
    color: #fff;
}

.watson,
.manager,
.designer,
.developer {
    display: flex;
    padding: 0.5em;
    margin-left: 0.5em;
    align-self: flex-start;
}

.dialogContainer .watson,
.dialogContainer .manager,
.dialogContainer .designer,
.dialogContainer .developer {
    margin-right: 20%;
}

.dialogContainer .watson,
.dialogContainer .manager,
.dialogContainer .designer,
.dialogContainer .developer {
    background-color: rgba(199,231,242,0.6);
    border-radius: 10px 10px 10px 0;
    color: #000;
	  -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
}

.user {
    text-indent: 2em;
    padding: 1.5em 0.5em 0.5em 0.5em;
    border-radius: 10px 10px 0 10px;
    background-color: rgba(29,142,186,0.9);
    margin-right: 0.5em;
    margin-left: 20%;
    -webkit-align-self: flex-end;
    align-self: flex-end;
	  -webkit-animation: fadein 1s;
       -moz-animation: fadein 1s;
        -ms-animation: fadein 1s;
         -o-animation: fadein 1s;
            animation: fadein 1s;
}

.watson:before,
.manager:before,
.designer:before,
.developer:before {
    background-size: 3em 3em;
    background-repeat: no-repeat;
    width: 3em;
    content: 'Brian';
    padding-top: 3em;
    padding-right: 2em;
    color: #7bae38;
}

.watson:before {
    background-image: url('/img/watson.png');
    content: 'Watson';
}

.manager:before {
    background-image: url('/img/manager-av.png');
    content: 'Brian';
}

.designer:before {
    background-image: url('/img/designer-av.png');
    content: 'Edwina';
}

.developer:before {
    background-image: url('/img/developer-av.png');
    content: 'David';
}

td {
    text-align: center;
}

td a img {
    width: 50px;
    height: 50px;
}

.name {
    color: #7bae38;
}

#progress-link {
  text-align: right;
}

#progress-link a {
    border: 1px solid rgba(86,167,161,1.0);
    border-radius: 4px;
    padding: .25em .25em;
}

#progress-link:not(.active) a:hover,
#progress-link:not(.active) a:hover {
    background-color: rgba(86,167,161,1.0);
    color: white;
}

#progress-link.active a {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.progress {
  border: 1px solid rgba(86,167,161,1.0);
  border-radius: 4px 4px 0 4px;
  margin: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table .manager::before,
table .designer::before,
table .developer::before {
    width: 50px;
    height: 50px;
    background-size: 50px;
}

table td,
table th {
    font-weight: normal;
}

table th:not(:first-child) {
  padding: .5em;
  width: 78px;
}

table tbody tr {
    border-top: 1px solid rgba(86,167,161,1.0);
}

table td:not(:last-child),
table th:not(:last-child) {
    border-right: 1px solid rgba(86,167,161,1.0);
}

table td.checked {
    text-align: center;
    font-size: 24px;
    color: green;
}

table td.checked::before {
    content: '\2713';
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
